.jdz_looking_glass {
	border: 1px solid white;
	width: 100px;
	height: 100px;
	position: absolute;
	-moz-border-radius: 5px;
	background: rgba(255, 255, 255, 0.2);
}

.jdz_img {
	position: relative;
}

.jdz_magnified {

	height: 300px;
	width: 300px;
	
	position: relative;
	right: 301px;
	border: 1px solid #eee;
	-moz-border-radius: 5px;
	z-index: 1001;
}